/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  `````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````                                       

				My code begins
	
`````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````*/

body {
    font-family: obviously-narrow, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.display {
	font-size: 109.67px;
	font-weight: 600;
}

.subtitle {
	font-size: 25.89px;
	font-weight: 400;
}

h1{
	font-size: 67.78px;
	font-weight: 600;
}

h2 {
	font-size: 41.89px;
	font-weight: 600;
}

h3 {
	font-size: 25.89px;
	font-weight: 600;
}

h4 {
	font-size: 16px;
	font-weight: 600;
}


.link {
	font-size: 25.89px;
	color: #A63B51;
}

p {
	font-size: 16px;
	font-family: obviously, sans-serif;
}

aside {
	font-size: 9.89px;
	font-weight: 400;
}

strong {
	color: #A63B51;
}

/*  `````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````                                   

				Header
	
`````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````*/
nav {
	
	font-size: 41.89px;
	font-weight: 400;

	position: fixed;
	width:100%;
	height: 88px;
	top:0;
	background-color: #fff;
}

nav #contact {
	font-size: 25.89px;
	font-weight: 400;
	color:#A63B51;
}

.nav {
	width: 100%;
	position: relative;
	padding-top: 40px;
	padding-left: 8px;
  }

  .nav > .nav-btn {
	display: inline-block;
	position: absolute;
	right: 23px;
	top: 0px;
  }
  .nav > .nav-btn > label {
	display: inline-block;
	width: 48px;
	height: 40px;
	margin-top: 40px;
  }
  .nav > .nav-btn > label:hover span,.nav  #nav-check:checked ~ .nav-btn > label > span {
	background-color: #A63B51;
  }
  .nav > .nav-btn > label > span {
	display: block;
	width: 48px;
	height: 8px;
	margin-bottom: 8px;
	border-radius: 8px;
	background-color: #000;
  }


  .nav > .nav-links {	
	position: absolute;
	display: block;
	width: 100%;
	background-color: #fff;
	height: 0px;
	overflow-y: hidden;
	top: 88px;
	left: 0;
  }
  .nav > .nav-links > a {
	display: block;
	width: 100%;
	color:#000;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
	height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
	height: calc(100vh - 50px);
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
  }
  .nav > #nav-check {
	display: none;
  }
 
  .header-banner {
	  margin-top: 264px;
  }

  
  
/*  `````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````                                       

				Gettin' bigger
	
`````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````*/

@media only screen and (min-width: 768px) {



	.display {
		font-size: 177.45px;
		font-weight: 600;
	}

	.subtitle {
		font-size: 41.89px;
		font-weight: 400;
	}

	h1{
		font-size: 109.67px;
		font-weight: 600;
	}

	h2 {
		font-size: 67.78px;
		font-weight: 600;
	}

	h3 {
		font-size: 41.89px;
		font-weight: 600;
	}

	h4 {
		font-size: 16px;
		font-weight: 600;
	}

	nav {
		font-size: 41.89px;
	}

	.link {
		font-size: 25.89px;
		color: #A63B51;
	}

	p {
		font-size: 16px;
		font-family: obviously, sans-serif;
	}

	aside {
		font-size: 9.89px;
		font-weight: 400;
	}
}

@media only screen and (min-width: 1280px) {

	.nav > .nav-btn {
		display: none;
	  }
	  	  
	  .nav > .nav-links > a {
		display: inline-block;
		padding: 13px 10px 13px 10px;
		text-decoration: none;
		color: #efefef;
	  }
	  
	  .nav > .nav-links > a:hover {
		background-color: rgba(0, 0, 0, 0.3);
	  }


	.display {
		font-size: 287.11px;
		font-weight: 600;
	}

	.subtitle {
		font-size: 67.78px;
		font-weight: 400;
	}

	h1{
		font-size: 177.45px;
		font-weight: 600;
	}

	h2 {
		font-size: 109.67px;
		font-weight: 600;
	}

	h3 {
		font-size: 67.78px;
		font-weight: 600;
	}

	nav {
		font-size: 25.89px;
	}

	.link {
		font-size: 25.89px;
		color: #A63B51;
	}

	p {
		font-size: 16px;
		font-family: obviously, sans-serif;
	}

	aside {
		font-size: 9.89px;
		font-weight: 400;
	}
}


@media only screen and (min-width: 1920px) {
	.display {
		font-size: 430.61px;
		font-weight: 600;
	}

	.subtitle {
		font-size: 101.66px;
		font-weight: 400;
		
	}

	h1{
		font-size: 266.14px;
		font-weight: 600;
	}

	h2 {
		font-size: 200px;
		font-weight: 600;
	}

	h3 {
		font-size: 101.66px;
		font-weight: 600;
	}

	h4 {
		font-size: 62.83px;
		font-weight: 600;
	}

	h5, nav {
		font-size: 38.83px;
		font-weight: 400;
	}

	p {
		font-size: 24px;
		font-family: obviously, sans-serif;
	}

	aside {
		font-size: 14.83px;
		font-weight: 400;
	}
}